.bodyindex {
  background-color: white;
}

.menutitulo {
  font-size: 30px;
  font-weight: 900;
}

.iconsmenu {
  max-width: 30px;
  max-height: 30px;
}

.logo {
  position: absolute;
  pointer-events: none;
  top: 1%;
  left: 0.5%;
  width: 150px;
  height: auto;
  max-width: 20%;
  transform: rotate(-25deg);
}

.nav-advanced {
  margin-left: 145px;
}

.socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 0;
}

.socials-icon {
  font-size: 20px;
  color: white;
}

footer {
  padding-bottom: 10px;
}

.carousel-container {
  margin: 20px auto;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; /* Cantos arredondados nas imagens do carrossel */
}

.banner-gif {
  width: 100%;
  height: auto;
}

.rounded-banner {
  border-radius: 10px !important; /* Força os cantos arredondados na imagem do banner */
}

.btn-dark {
  background-color: black;
  border-color: black;
}

.btn-dark:hover {
  background-color: #333;
  border-color: #333;
}
