.searchstore{
    background-color: rgba(236, 236, 236, 0);
    border-radius: 10px;
    min-width: 150px;
}

.labelsearchstore{
    background-color: rgba(236, 236, 236, 0);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}

.spacesearchstore{
    min-width: auto;
}

.storefiltro{
    font-weight: 900;
}

.cardstorecss{
    max-width: 800px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2%;
    border-radius: 20px;
    background-color: black;
    transition: transform 0.3s ease;
}

.cardstorecss:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

.divparacartoes{
    margin: auto;
    padding: auto;
    
}

.divdastore{
    width: 100%;
    margin: auto;
}

.card-title{
    color: white;
}

.card-text{
    color: white;
}

.card-img-top{
    max-width: 100%;
    align-self: center;
    border-radius: 20px;
}

.card-body{
    align-items: center;
    text-align: center;
}

.cart-div-col{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    color: white;
}

.h1-titulo-cart{
    font-size: clamp(0rem, 4vw, 4rem);
    border-style: solid;
    border-width: clamp(0rem, 0.5vw, 0.5rem);
    padding: 1%;
}

.cart-div-name{
    font-size: clamp(0rem, 1.5vw, 2rem);
    border-style: solid;
    border-width: clamp(0rem, 0.1vw, 0.1rem);
    margin-top: 10px;
    padding: 1%;
    
}

.bin-cart{
    width: 50%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.btt-cart-quantati{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.div-price-cart{
    margin-left: auto;
    margin-top: 10px;
}

.btt-buy-cart{
    width: 100%;
    border-radius: 20px;
    background-color: white;
    border-style: solid;
    font-size: clamp(0.1rem, 1.5vw, 1.5rem);
}

.btt-buy-cart:hover{
    background-color: rgb(181, 253, 171);
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.btt-cart-add{
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(0, 255, 0);
}

.btt-cart-sub{
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
}


.btt-cart-add:hover{
    background-color: rgb(0, 255, 0);
    border-color: rgb(255, 255, 255);
}

.btt-cart-sub:hover{
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 255, 255);
}

.center-cart-divs{
    padding: 2%;
}

.div-total-cart{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.div-preco-cart{
    margin-top: auto;
    margin-bottom: auto;
}

.h1-font-cart{
    font-size: clamp(0rem, 2vw, 2rem);
}

.cart-label-text{
    position: fixed;
    right: 15%; 
    top: 1%;
    color: rgb(0, 0, 0);
    font-weight: 900;
    transform: translate(9px);
}

.cart-label-img{
    position: fixed;
    right: 15%;
    top: 0%;
    transform: translate(0px,15px);
}

.icon-util-posi{
    position: fixed;
    right: 5%;
    top: 0%;
    transform: translate(0px,15px);
}

.div-label-cart{
    width: 10px;
}

@media (max-width: 400px) {
    .cart-label-text{
        position: fixed;
        right: 35%; 
        top: 1%;
        color: rgb(0, 0, 0);
        font-weight: 900;
        transform: translate(9px);
    }
    
    .cart-label-img{
        position: fixed;
        right: 35%;
        top: 0%;
        transform: translate(0px,15px);
    }
  }